<ion-header>
  <ion-toolbar>
    <ion-title>VIP Table Request</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="rowGlobal ion-justify-content-center">
      <ion-col size="12">
        <ion-input placeholder="Name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="rowGlobal ion-justify-content-center">
      <ion-col size="12">
        <ion-input placeholder="Email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="rowGlobal ion-justify-content-center">
      <ion-col size="12">
        <ion-input placeholder="Mobile Number"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="rowGlobal ion-justify-content-center">
      <ion-col size="12">
        <ion-input placeholder="Number of guests"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="rowGlobal ion-justify-content-center">
      <ion-col size="12">
        <ion-input type="date" placeholder="Date of reservation" color="pink"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="rowFooter ion-justify-content-center">
      <ion-col size="12">
        <ion-button class="sendRequestBtn" color="black" type="button" placeholder="Date of reservation" >Send request
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
