<ion-header>
  <ion-toolbar>
    <ion-buttons class="GroupeIcon">
      <ion-button class="questionButtons" slot="start">
        <ion-icon name="custom-question"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="closeButtons" icon-only (click)="close()">
        <ion-icon name="custom-color-red" class="customClose"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="detailTestVenueGroup ion-justify-content-center">
      <ion-row class="testVenue">
        <!--        <hr class="hrCollapse"/>-->
        <ion-row class="detailTestVenue ion-justify-content-center">
          <h3>Test Venue</h3>
          <p>Brendan Coen + 50 Guests</p>
        </ion-row>
        <ion-row class="hr">
          <hr/>
        </ion-row>
        <ion-row class="peopleRow">
          <ion-col
            size="12"
            class="peopleDetailLeft ion-text-center "
          >
            <ion-label>Present this ticket to guet list door host.</ion-label>
          </ion-col>

        </ion-row>
        <ion-row class="descriptionEvent">
          <p>RSVP does not override venue door policy.</p>
        </ion-row>
        <ion-row class="dateRow">
          <ion-col
            size="12"
            class="dateCol ion-text-center"
          >
            <p>Monday August 29, 2021</p>
          </ion-col>
        </ion-row>
        <ion-row class=" vaccinationRow">
          <ion-col
            size="12"
            class="vaccinationCol ion-justify-content-center "
          >
            <p>
              Vaccination Card
            </p>
          </ion-col>

        </ion-row>
        <hr class="dashedHr">
        <ion-row class="reqRow">
          <ion-col
            size="12"
            class="reqCol ion-text-center"
          >
            <p>Your additional guests must be present when you enter the venue.</p>
          </ion-col>
        </ion-row>
        <!--        <ion-row class="rowHrDashed">-->
        <!--          <ion-col size="1" class="leftCercle"></ion-col>-->
        <!--          <ion-col size="10">-->
        <!--            <hr class="hrDashed"/>-->
        <!--          </ion-col>-->
        <!--          <ion-col size="1" class="rightCercle"></ion-col>-->

        <!--        </ion-row>-->
        <ion-row class="adresseRow">
          <ion-col
            size="12"
            class=" ion-text-center"
          >
            <h3>Test Venue</h3>
            <p>2554 Freanklin Street SAN FRANCISCO</p>
          </ion-col>
        </ion-row>
        <ion-row class="rowBackground">

          <ion-icon name="custom-form"></ion-icon>
        </ion-row>

      </ion-row>

    </ion-row>
  </ion-grid>
</ion-content>
