<ion-header>
  <ion-toolbar>
    <ion-buttons class="GroupeIcon">
      <ion-button class="questionButtons" slot="start">
        <ion-icon name="custom-menu"></ion-icon>
      </ion-button>
      <ion-title>Settings</ion-title>
      <ion-button slot="end" class="closeButtons" icon-only (click)="confirm()">
        <ion-icon name="custom-confirm" class="customClose" disabled></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="rowFirstLast ion-justify-content-evenly">
      <ion-col size="6">
        <ion-input placeholder="First name"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-input placeholder="Last name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="rowEmail ion-justify-content-center">
      <ion-col size="12">
        <ion-input placeholder="Email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="rowEmail ion-justify-content-center">
      <ion-col size="12">
        <ion-input placeholder="Mobile Number"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="rowEmail ion-justify-content-center">
      <ion-col size="12" class="colCalendar ion-justify-content-between ">
        <ion-datetime placeholder="Birthdate"></ion-datetime>
        <ion-button size="small" fill="clear">
          <ion-icon slot="icon-only" name="custom-calendar"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="rowEmail ion-justify-content-center">
      <ion-col size="12">

        <ion-select placeholder="Select Home City">
          <ion-select-option></ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row class="rowEmail ion-justify-content-center">
      <ion-col size="12">
        <ion-input placeholder="vaccination card"></ion-input>
        <ion-icon class="iconCamera" name="custom-camera"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="rowGender ion-justify-content-center">
      <ion-col size="4">
        <ion-label>Gender</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-segment (ionChange)="segmentChanged($event)">
          <ion-segment-button class="genderButtonF" value="friends">
            <ion-label>Female</ion-label>
          </ion-segment-button>
          <ion-segment-button class="genderButtonM" value="enemies">
            <ion-label>Male</ion-label>
          </ion-segment-button>
        </ion-segment>
        <!--        <ion-button class="genderButtonF" value="Female">Female</ion-button>-->
        <!--        <ion-button class="genderButtonM" value="Male">Male</ion-button>-->
      </ion-col>
    </ion-row>
    <ion-row class="rowAutomatic ion-justify-content-center">
      <ion-col size="6">
        <ion-label>Automatic Login</ion-label>
      </ion-col>
      <ion-col class="colCheckbox" size="6">
        <div class="checkbox">
          <ion-toggle slot="end"></ion-toggle>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="versionRow">
      <ion-col size="12">
        <ion-label>v3.14.1</ion-label>
        <br>
        <ion-label>About geust list nation</ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
