/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toolbar {
  height: 100px;
  min-height: 100px;
  --min-height: 100px;

}

.flag.flag-24 {

  background-image: url('assets/icon/custom-menu.svg');

}

ion-content,
ion-toolbar {
  --background: var(--ion-color-black);

  --ion-background-color: var(--ion-color-black);
}

.header-md::after {
  position: absolute;
  width: 100%;
  height: 0;
  top: 100px;
  opacity: 0.03;
  border: 0.5px solid var(--ion-color-white);
}

/* Set the placeholder color and opacity */

ion-select::part(placeholder) {
  color: var(--ion-color-white);
  opacity: 1;
  padding: 15px 20px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

/* Set the text color */
ion-select::part(text) {
  color: #545ca7;
}

/* Set the icon color and opacity */
ion-select::part(icon) {
  color: var(--ion-color-white);
  opacity: 1;
}

.popover-content.sc-ion-popover-md {
  width: 13em;
  margin-top: 0.5em;
}

.swiper-wrapper {
  height: unset;
}

.swiper-pagination-bullet-active {
  background: #ae00ff;
  transform: matrix(0, -1, -1, 0, 0, 0);
}
